<div class="container">
  <div class="row align-items-stretch">
    <div class="col">
      <h2>Sign up</h2>
      <%= simple_form_for(resource, as: resource_name, url: registration_path(resource_name), data: {turbo: false}) do |f| %>
        <%= f.error_notification %>

        <div class="form-outline">
        <%= f.input :name,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "name" }%>
          <%= f.input :email,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "email" }%>
      <%= f.input :presentation,
                      required: true,
                      autofocus: true,
                      input_html: { autocomplete: "presentation" }%>
          <%= f.input :password,
                      required: true,
                      hint: ("#{@minimum_password_length} characters minimum" if @minimum_password_length),
                      input_html: { autocomplete: "new-password" } %>
          <%= f.input :password_confirmation,
                      required: true,
                      input_html: { autocomplete: "new-password" } %>
        </div>

        <div class="form-actions">
          <%= f.button :submit, "Sign up" %>
        </div>
      <% end %>

      <%= render "devise/shared/links" %>
  </div>
  <div class="col-12 col-md-6">
    <div id="dog-collage">

    <div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(https://media.istockphoto.com/id/1154954591/photo/creative-collage-of-different-breeds-of-dogs-on-colorful-background.jpg?s=612x612&w=0&k=20&c=-_iwy8ZEGH1Zt7AfkanMJFJDuj11tw2bTRqkJgjKhfo=);">
      <div class="container">
        <h1>Join a growing community of 10,000+ pups just like you who love marla...</h1>
      </div>
    </div>
    </div>
  </div>
</div>
