
<div class="row container first">
  <% @humans.each do |human| %>
    <div class="col-12 col-md-4">
      <div class="card">
        <%= link_to human.name, human_path(human.id), class: "name" %>
        <p class="description"><%= human.description %></p>
        <p class="price"><%= human.price %></p>
        <p class="category"><%= human.category %></p>
        <p class="delete"><%= link_to "Delete", human_path(human.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"} %></p>
      </div>
    </div>
  <% end %>
</div>

  <%= link_to "Offer a new human", new_human_path %>
</div>
