<% if dog_signed_in? && current_dog.photo.attached? %>
  <%= cl_image_tag current_dog.photo.key, height: 100, width: 100, crop: :fill %>
<% else %>
  <%= image_tag "cute big face dog.png", height: 100, width: 100, crop: :fill, class: "mx-auto d-block rounded-circle image-profil" %>
  <h2 class="h2">Hi <%= current_dog.name.capitalize %> </h2>
<% end %>

<div class="row container first">
  <% @humans.each do |human| %>
    <div class="col-12 col-md-4">
      <div class="card-img">
        <%= cl_image_tag human.photo.key, crop: :fill, class: "image" if human.photo.attached? %>
          <div class="card">
            <%= link_to human.name.capitalize, human_path(human.id), class: "name" %>
            <li class="description"><strong class="font-weight-bold">Description : </strong><%= human.description.capitalize %></li>
            <li class="price"><strong>Prix : </strong><%= human.price %> €</li>
            <li class="category"><strong>Categorie(s) : </strong><%= human.categories.map(&:name).join(" / ") %></li>
            <p><%= link_to "Delete", human_path(human.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete"%></p>
          </div>
      </div>
    </div>
  <% end %>
</div>

</div>

<%= link_to "Offer a new human", new_human_path, class: "btn"%>
