
<div class="row container first">
  <% @humans.each do |human| %>
    <div class="col-12 col-md-4">
      <div class="card">
        <%= link_to human.name.capitalize, human_path(human.id), class: "name" %>
        <p class="description"><%= human.description.capitalize %></p>
        <p class="price"><%= human.price %> €</p>
        <p class="category"><%= human.categories.map(&:name).join(" / ") %></p>
        <p><%= link_to "Delete", human_path(human.id), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}, class: "delete"%></p>
      </div>
    </div>
  <% end %>
</div>

  <%= link_to "Offer a new human", new_human_path, class: "button" %>
</div>
