<h1 class="title">Check out some of the best humans available</h1>

<div class="row container">
  <% @humans.each do |human| %>
    <div class="col-12 col-md-4">

      <div class="card-human  mx-1">
        <%= cl_image_tag human.photo.key, height: 200, width: 270, crop: :fill %>
        <div class="all-description">
          <h6 class="name"><%= human.name %></h6>

          <p class="description"><%= human.description %></p>
          <p class="price"><%= human.price %>€</p>
          <p class="category"><%= human.categories.map(&:name).join(" / ") %></p>
        </div>
      </div>
    </div>
  <% end %>
</div>
