<div class="container">
  <h2 class="title">Human for rent</h2>
    <div class="_human_display_card row">
     <div class="col">
      <%= cl_image_tag @human.photo.key, class: "mx-auto d-block image"%>
     </div>
     <div class="col">
      <p><b>Name: </b> <%= @human.name %></p>
      <p><strong>Description: </strong> <%= @human.description %></p>
      <p><strong>Price: </strong><%= @human.price %> €</p>
      <p><strong>Category: </strong></p>
      <% @human.categories.each do |category|%>
      <p><%= category.name %></p>
      <% end %>
     </div>
    </div>
</div>
<% if @human.dog != current_dog %>
  <%= link_to "Book this human", new_human_reservation_path(@human), class: "button" %>
<% end %>
  <%= link_to "See all my humans", my_account_path, class: "button" if dog_signed_in? %>
